<!--The content below is only a placeholder and can be replaced.-->
<div style="display: flex; justify-content: center">

  <div style="text-align:center; width: 50%">
    <h1>
      Public push
    </h1>
    <div *ngFor="let push of publicPushs">
      <h3>{{push.date | date: 'full'}}</h3>
      {{push | json}}
    </div>

  </div>

  <div style="text-align:center; width: 50%">
    <h1>
      Private push
    </h1>
    <div *ngFor="let push of privatePushs">
      <h3>{{push.date | date: 'full'}}</h3>
      {{push.data | json}}
    </div>
  </div>

</div>